<html>
<body>
  <head>
    <style></style>
    <title>Login</title>
    </head>
<h1>Login</h1>
<form action="https://www.w3schools.com/action_page.php" method="post">
  <label for="username">username:</label><br>
  <input type="text" id="username" name="username"><br><br>
  <label for="password">password:</label><br>
  <input type="password" id="password" name="password" ><br><br>
  <input type="submit" value="login"><br>
  <a style="text-align: center; href="#"></a>Login</a><br>
  <a href="imagelink.html">Image</a><br>
  <a href="homepage.html">Homepage</a><br>
  <a href="survey.html">Survey</a><br>
  <a href="tut1.html">Document</a>
</form> 
</body>
</html>